<h1 class="mt-4 mb-4">Welcome to Twitter, <%= @user.username %>!</h1>

<div class="container">
  <% @tweets.each do |tweet| %>
    <div class="card mt-4">
      <div class="card-header">
        <img src="https://placekitten.com/50/50" alt="User Avatar" class="rounded-circle mr-2">
        <strong ><%= link_to tweet.user.username, user_path(tweet.user) %></strong>
        <% if @current_user && @current_user == tweet.user %>
        
    <% else %>
         <button type="button" class="btn btn-outline-info btn-sm mr-2">Message</button>
        <button type="button" class="btn btn-outline-secondary btn-sm">Follow</button>
        <% end %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= tweet.content %></p>
      </div>
      <div class="card-footer">
      <p class="text-muted"><%= time_ago_in_words(tweet.created_at) %> ago</p>

       <% if current_user.liked?(tweet) %>
        <%= link_to tweet_like_path(tweet, tweet.likes.find_by(user: current_user)), method: :delete do %>
          <%= image_tag('Liked.svg.png', alt: 'Unlike',class:'like-button') %>
        <% end %>
      <% else %>
        <%= link_to tweet_likes_path(tweet), method: :post  do %>
          <%= image_tag('like-106.png', alt: 'Like',class:'like-button') %>
        <% end %>
      <% end %>
     <% if current_user.retweeted?(tweet) %>
        <%= link_to tweet_retweet_path(tweet, tweet.retweets.find_by(user: current_user)), method: :delete do %>
    <%= image_tag('6388036.png', alt: 'Unretweet', class: 'retweet-button') %>
  <% end %>
<% else %>
  <%= link_to tweet_retweets_path(tweet), method: :post do %>   
    <%= image_tag('522027.png', alt: 'Retweet', class: 'retweet-button') %>
  <% end %>
      <% end %>
        
      </div>
    </div>
  <% end %>
</div>
