<div class="conversation-box">
  <% @messages.each do |message| %>
    <% if message.sender == @current_user %>
      <div class="message sender">
        <p><%= message.content %></p>
      </div>
    <% else %>
      <div class="message recipient">
        <p><%= message.content %></p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="message-form">
  <%= form_with(model: @message, url: messages_path) do |form| %>
    <div>
      <%= form.text_area :content, placeholder: "Type your message here..." %>
    </div>
    <div>
      <%= form.submit 'Send', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
